<form[formGroup] ="form"> 

  <div> 

    <p> 

      Source CCY: 

      <select data-testid="fromCurrency" id="fromCurrency" formControlName="currency" #fromCurrency> 

        <option *ngFor="let item of source" [value]="item.value" [ngValue]="currency"> 

          {{ item.value }} 

        </option> 

      </select> 

    </p> 

  </div> 

 

  <div> 

    <p> 

      Target CCY: 

      <select data-testid="toCurrency" id="toCurrency" formControlName="currency" #toCurrency> 

        <option *ngFor="let item of target" [value]="item.value" [ngValue]="currency"> 

          {{ item.value }} 

        </option> 

      </select> 

    </p> 

  </div> 

 

  <div> 

    <label>Amount (Rs): 

      <input 
        
        id="amount" 
        data-testid="amount"
        type="number" 

        placeholder="0" 

        title="Currency" 
        #amount
    /></label> 

  </div> 

  <br /> 

  <div> 

    <button data-testid="submitButton" id="submitButton" (click)="submit()" type="button" #submitButton>Submit Button</button> 

  </div> 

  <br /> 

  <div>Result:</div> 
  <p data-testid="result" id="result" #result></p>
  <p data-testid="resValue" id="resValue" #resValue></p> 

</form> 
<router-outlet></router-outlet>